@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "one";
  src: url(../fonts/Aventa-Bold.ttf);
}

@font-face {
  font-family: "two";
  src: url(../fonts/aquire-font/Aquire-one.otf);
}
@font-face {
  font-family: "three";
  src: url(../fonts/courages-font/Courages.otf);
}

@font-face {
  font-family: "four";
  src: url(../fonts/typographica-font/Typographica.ttf);
}
h1 {
  font-family: "one";
}
h2 {
  font-family: "two";
}
h3 {
  font-family: "three";
}

h4 {
  font-family: "four";
}
